doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ng-grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css')

      script( type='text/javascript', src='/app/lib/jquery-1.9.1.js')
    script( type='text/javascript', src='/app/lib/angular.min.js')
    script( type='text/javascript', src='/app/lib/ng-grid.debug.js')

    script( type='text/javascript', src='/app/controller.js')
    script( type='text/javascript', src='/app/directives.js')
    script( type='text/javascript', src='/app/services.js')
    script( type='text/javascript', src='/app/app.js')

  body(ng-app="myapp")
    block content
